version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rick-morty-api
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
